@charset "UTF-8";
a{ color:black;}

/* header */
#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 800;
  background: rgba(0,0,0,.3);
}

/* 상단 로고 */
#top_log{
  float: left;
}
#top_log a{
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/* gnb */
#gnb{
  float: right;
}
#gnb ul{
overflow: hidden;
}
