@charset "UTF-8";

/*common button 버튼 공통*/
.button{
  font-size: 16px;
  font-weight: 700;
  height: 32px;
  line-height: 32px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 32px;
  border-radius: 50px;
  margin: 10px;
  color: white;
  background: #18d26e;
  text-transform: uppercase;
  transition: 0.5s;
}

.button:hover{
  background: white;
  color: #18d26e;
}

.back_to_top{
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  background: black;
  z-index: 800;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}


.back_to_top a{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*header*/
#header{
  position: fixed;
  width: 100%;
  overflow: hidden;
  top: 0;
  z-index: 800;
  background: rgba(0,0,0,.3);
}

/*상단 로고*/
#top_logo{
  float: left;
}

#top_logo a{
  color: white;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-size: 24px;
}

/*gnb*/
#gnb{
  float: right;
}

#gnb ul{
  overflow: hidden;/*li 정렬*/
}

#gnb ul li{
  float: left;
}

#gnb ul li a{
  display: block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

/*section*/
section{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  min-height: 100vh;
  box-sizing: border-box;
}

section:nth-child(odd){
  background: #f9f9f9;
}

section#intro{
  background: url('../img/intro/3.jpg') no-repeat;
  background-size: cover;
}

section#myprofile{
  background: url('../img/bg/about_bg.jpg') no-repeat;
  background-size: cover;
}

section .row .column .inner{
  text-align: center;
}

section#myprofile .row .column .inner .job{

  color: #999999;
  font-size: 14px;
}

section#myprofile .row .column .inner img{
  width: 20%;
  border-radius: 100%;
}

section#myprofile:before{
  content:'';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.92);
  z-index: 9;
}

section .row .column .inner.none_type{
  border: 0;
  box-shadow: none;
  background: none;
}

section .row .column .inner img.shadow{
  box-shadow: rgba(0,0,0,.2);
  box-sizing: border-box;
  border: 1px solid #f1f1f1;
  transition: 1s;
}
section .row .column .inner img.shadow:hover{
  box-shadow: none;
}

/* section row title style */

/* wction row column style */
section .row .column{
  font: 25%;
}

section .row .column .inner{
  margin: 15px;
  padding: 15px;
  background: white;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0,0,0, .2);
  border-right: 5px;
}
section .row .column .inner img{
  width: 100%;
}



section .row{
  position: relative;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /*wrap을 해야지 내려감 */
  width: 1410px;
  color: #333333;
  padding: 120px 0; /*모바일시 안겹치게 하기위한 */
  z-index: 500;
  box-sizing: border-box;
}

section .row > h2{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

section > article{
  text-align: center;
  padding: 0 20%;
  color: white;
}

section > article > h2{
  font-size: 40px;
}


section > article > p{
  font-size: 20px;
}
